:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(44, 51, 51);
    color: whitesmoke;
    user-select: none;
}

.container {
    display: flex;
    flex-direction:column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

button {
    margin: 3px 0;
    background-color: rgb(10, 104, 104);
    color: aliceblue;
    border-radius: 10px;
    border:none;
    height: 30px;
}

button:hover {
  background-color: rgb(17, 179, 179);
}

  .btn {
    border-radius: 10px;
    background-color: var(--secondary-dark);
    color: aliceblue;
  }
  
  .btn-square1,
  .btn-square2 {
    width: 50px;
    height: 50px;
    border: none;
  }
  
  .btn:hover {
    background-color: var(--secondary-dark-hover);
  }

  /* Add this to your existing CSS file */
.btn.pressed {
  background-color: burlywood;
}

.buttons-p1,
.buttons-p2 {
  margin-left: 27px;
}

.input-text {
  border-radius: 10px;
  height: 30px;
  margin: 2px;
  border: none;
}

.cont {
  display: flex;
  flex-direction: row;
}